.card-container {
    display: grid;
    grid-gap: 15px;

    @media (min-width: 840px) {
        grid-template-columns: repeat(2, 400px);
    }
}

.card-link {
    border: 1px dotted #ccc;
    background: white;

    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    flex-direction: column;
}

.card-link:hover, .card-link:active, .card-link:focus {
    text-decoration: none;
    border: 1px dotted black;
}

.card-text {
    margin-top: 10px;
    color: $color-off-black;
}
