<header class="bg--dark-gray white pa4">
  <div class="head-container">
    <div class="upper title">
      <div class="dib f3"><a href="/" class="white">Robyn Meshulam</a></div>
      {% if page.title %}
      <span class="f3"> | </span><span class="f4">{{page.title}}</span>
      {% endif %}
      <span class="dib mr2"></span>
    </div>  
  
    <nav>
      <ul class="pa0 mv3">
        <li class="dib mt3 mr1"><a class="bg--bright-blue white normal pv2 ph3" href="projects">Projects</a></li>
        <li class="dib mt3 mr1"><a class="bg--bright-blue white normal pv2 ph3" href="photos">Photos</a></li>
      </ul>
    </nav>
  </div>
</header>
