.bn { border-style: none; }
.ba { border-style: solid; border-width: 1px; }
.br0 { border-radius: 0; }
.br1 { border-radius: .25rem; }
.br2 { border-radius: .5rem; }
.b--light-gray { border-color: $color-border-light; }
.b--gray { border-color: $color-border-mid; }