.bgn { background: none; }
.bg--lightest-gray { background-color: $color-lightest-gray; }
.bg--light-gray { background-color: $color-light-gray; }
.bg--gray { background-color: $color-gray; }
.bg--dark-gray { background-color: $color-dark-gray; }
.bg--blue { background-color: $color-blue; }
.bg--bright-blue { background-color: $color-bright-blue; }

.white { color: white; }
.bright-blue { color: $color-bright-blue; }
