.dn { display : none; }
.db { display : block; }
.di { display : inline; }
.df { display : flex; }
.dib { display : inline-block; }

.flw { flex-wrap: wrap; }
.center-fl { justify-content: center; }
.center-b { margin-left: auto; margin-right: auto; }
.center { text-align: center; }

.no-scroll { overflow: hidden; }

.opacity-0 { opacity: 0; }

.visually-hide {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0;
}
