.normal { font-weight: normal; }
.b { font-weight: bold; }
.upper { text-transform: uppercase; }

.title { font-family: $font-title; }

.hide { display: none; }

.f1 { font-size: 2rem; }
.f2 { font-size: 1.75rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; }
.f7 { font-size: .75rem; }

.lh1 { line-height: 1em; }
.lh2 { line-height: 1.5em; }
.lh3 { line-height: 2em; }
