$color-blue: #00B7FF;
$color-dark-blue: #0066A1;
$color-light-gray: #EEEEEE;
$color-gray: #DDDDDD;
$color-border-light: #D5D5D5;
$color-border-mid: #CCCCCC;
$font-sans: "Lucida Grande", Helvetica, Arial, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$break-mobile: 600px;