$color-off-black: #444;
$color-bright-blue: #0090ff;
$color-blue: #0f79d0;
$color-dark-blue: #093145;
$color-lightest-gray: #f2f2f2;
$color-light-gray: #eee;
$color-gray: #ddd;
$color-dark-gray: #212121;
$color-border-light: #d5d5d5;
$color-border-mid: #ccc;
$font-main: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
$font-title: 'Lucida Grande', Calibri, Helvetica, Arial, sans-serif;
$break-mobile: 600px;
