$color-off-black: #231f20;
$color-blue: #0366d6;
$color-dark-blue: #093145;
$color-light-gray: #EEEEEE;
$color-gray: #DDDDDD;
$color-border-light: #D5D5D5;
$color-border-mid: #CCCCCC;
$font-sans: "Lucida Grande", Geneva, Verdana, sans-serif;
$font-serif: "Lucida Bright", Georgia, serif;
$break-mobile: 600px;
