<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body class="pa4 sans f6 lh2">
  <div class="container">
  <header>
    <h1 class="f2 lh1">{{page.title}}</h1>
    <nav>
      <ul class="pa0 mv3">
        <li class="dib mr2"><a href="http://www.robynm.net">about</a></li>
        <li class="dib mr2"><a href="projects">projects</a></li>
        <li class="dib mr2"><a href="photos">photos</a></li>
      </ul>
    </nav>
  </header>
  {{ content }}
  <footer> 
    <nav>
      <ul class="pa0 mv3">
        <li class="dib mr2"><a href="https://github.com/robynm" target="_blank">github</a></li>
        <li class="dib mr2"><a href="https://www.linkedin.com/in/robyn-meshulam-a6822b54" target="_blank">linkedin</a></li>
        <li class="dib mr2"><a href="https://www.flickr.com/photos/23451535@N06/" target="_blank">flickr</a></li>
      </ul>
    </nav>
  </footer>
  </div>
</body>
</html>
