<html lang="en-US">
{% include head.html %}
<body class="pa4 sans f6 lh2">
  <div class="container">
    {% include header.html %}
    <main>  
      <div class="content df flw">
        {% for img in site.data.gallery %}
          <div class="image-div" data-order="{{forloop.index0}}">
            <img src="{{img.src}}" alt="{{img.title}}">
            <a class="block-link flex-end gallery-open" href="#"><span class="pa2 serif">{{img.title}}</span></a>
          </div>
          {% assign i = forloop.index | modulo:5 %}
          {% if i == 0 %}
        </div>
        <div class="content df flw">
          {% endif %}
        {% endfor %}
      </div>
    </main>
    <div class="gallery-container">
      <a href="#" class="close nav pa3" title="close"><img src="/css/icons/cancel.svg" height="20" width="20"></a> 
      <a href="#" class="prev nav pv2 ph3" title="previous"><img src="/css/icons/arrow-left.svg" height="30" width="30"></a>
      <figure class="image-container ma1">
        <img src="" class="modal-image">
        <figcaption class="caption serif pv1"></figcaption>
      </figure>
      <a href="#" class="next nav pv2 ph3" title="next"><img src="/css/icons/arrow-right.svg" height="30" width="30"></a>
    </div>
    {% include footer.html %}
  </div>
  <script type="text/javascript" src="js/bundle.min.js"></script>
</body>
</html>
